*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    padding-left: 10px;
    padding-right: 10px;
    background-color: grey;
}

.container{
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    width: 100%;
    height: 700px;
    margin-top: 10px;
    margin-bottom: 10px;
}

img{
    height: 100%;
    width: 100%;

}

.info{
    border:none;
    text-align: center;
    word-wrap: break-word;
    border-bottom-left-radius:5% ;
    border-bottom-right-radius:5% ;
}

.image_box{
    overflow: hidden;
    height: 60%;
    width: 100%;}

.cart_btn {
    margin-top: 10px;
    color: white;
    background-color:green;
    width: 80%;
    padding: 5%;
    border: none;
    border-radius: 10px;
  }

  .cart_btn:active{
    background-color: darkgreen;
  }

  h1{
    margin: 0;
  }